<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Perticon</Name>
    <Version>0.1.2</Version>
    <Title>Perticon</Title>
    <Publisher>Perticon dev team</Publisher>
    <StartMenuDir>Perticon</StartMenuDir>
    <RunProgram>@TargetDir@/perticon</RunProgram>
    <TargetDir>@ApplicationsDir@/perticon</TargetDir>
</Installer>
